//out: ../css/style.css, compress: true, autoprefixer: true
@import "reset";
@import "fonts";
@import "color";
@import "anim";
@import "magnific-popup";

body {
    color: #000;
    font-family: Museo Sans;
    font-weight: normal;
}

.button {
    border: none;
    color: #222;
    font-weight: 900;
    text-transform: uppercase;
    background-color: @yellow;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: lighten(@yellow, 10%);
    }
}

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #000;

    .logo_wrap {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 7vw;
    }

    .logo {
        object-fit: contain;
        max-width: 100px;
    }

    .main_menu {
        display: flex;
    }

    .main_menu_link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        padding: 0 10px;
        box-sizing: border-box;
        width: 7.5vw;
        height: 25px;
        line-height: 1;
        color: #f7f7f7;
        text-align: center;
        font-size: .875rem;
        border-right: 1px solid #f7f7f7;
        transition: 0.2s ease-in;

        &:hover {
            color: #b5b3b3;
        }
    }

    .toggle-nav {
        position: relative;
        display: none;
        width: 30px;
        height: 50px;

        .burger_line {
            position: absolute;
            top: 50%;
            left: 0;
            transition: 0.15s ease-out;
            transform: translateY(-50%);
            width: 100%;
            height: 3.5px;
            border-radius: 10px;
            background-color: #fff;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 3.5px;
                border-radius: 10px;
                background-color: #fff;
                transition: 0.35s ease;
            }

            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }

        &.toggled .burger_line {
            background-color: rgba(0, 0, 0, 0);
        }

        &.toggled .burger_line::before {
            top: 0px;
            ;
            transform: rotateZ(45deg);
        }

        &.toggled .burger_line::after {
            bottom: 0px;
            transform: rotateZ(-45deg);
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps {
    position: relative;
    padding: 70px 0 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: 100vh;

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        border-left: 2px solid #b3b3b3;
        background-color: #ebebeb;
    }

    .info,
    .action {
        padding: 50px;
        box-sizing: border-box;
        width: 50%;
    }

    .info {
        position: relative;
        padding-top: 100px;
        min-height: 570px;
    }

    .info::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background-color: #b3b3b3;
    }

    .action {
        padding-bottom: 100px;
        height: ~"calc(100vh - 100px)";
        overflow: auto;
    }

    .paragraphs {
        position: relative;
    }

    .step {

        &_caption {
            margin-bottom: 20px;
            font-size: 2.5rem;
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
        }

        &_paragraph {
            margin-bottom: 20px;
            color: #000;
            font-size: 1.8rem;

            &.paragraph {
                display: none;
                position: absolute;
                top: 0;
                left: 0;

                &:nth-child(1) {
                    display: block;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 100px;
                }

                .arrow1 {
                    position: absolute;
                    top: -20px;
                    right: -13vw;
                    width: 10vw;
                    max-width: 300px;
                }

                .arrow2 {
                    position: absolute;
                    top: 30px;
                    right: -20vw;
                    width: 12vw;
                    max-width: 350px;
                }

                .arrow3 {
                    position: absolute;
                    bottom: -55px;
                    right: -20vw;
                    width: 30vw;
                    max-width: 850px;
                }
            }
        }

        .select {
            margin-right: 10px;
            padding: 10px 20px;
            box-sizing: border-box;
            width: 100%;
            font-weight: 700;
            font-size: 18px;
            outline: none;
            border-width: 2px;
            background-color: transparent;
        }

        .create_button {
            margin-top: 20px;
            padding: 14px 20px;
        }
    }

    .info_steps {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &_block {
            padding: 10px;
            box-sizing: border-box;
            width: 25%;
            max-width: 210px;

            .image_wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
            }

            &_img {
                width: 45%;
                max-width: 75px;
            }

            &_paragraph {
                display: flex;

                div:last-child {
                    padding-left: 10px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .social {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 10px 0;
        width: 50%;
        height: 60px;
        background-color: #ffbc0d;
    }

    .step_compliments {

        &_button {
            position: relative;
            margin-top: 20px;
            display: block;
            color: #000;

            &:hover {
                opacity: .9;
            }

            &.active::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #000;

            }
        }
    }
}

.postcard {
    display: none;
    margin: 150px 0 100px;

    &_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &_wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 510px;
        height: 510px;
        background-size: contain;

        &_text {
            position: relative;
            display: flex;
            align-items: center;
            width: 75%;
            height: 158px;
            text-align: center;
            color: #fff;
            font-size: 1.312rem;

            .name {
                display: block;
                margin-bottom: 15px;
            }
        }

        &.text_1 {

            .postcard_wrap_text {
                color: #802620;
            }
        }

        &.text_2 {

            .postcard_wrap_text {
                color: #11260d;
            }
        }

        &.text_3 {
            align-items: flex-start;
        }

        &.text_4 {

            .postcard_wrap_text {
                color: #232a2b;
            }
        }

        &.text_5 {

            .postcard_wrap_text {
                color: #353c36;
            }
        }

        &.text_6 {

            .postcard_wrap_text {
                color: #e0b094;
            }
        }

        &.text_7 {

            .postcard_wrap_text {
                color: #1d1f17;
            }
        }

        &.text_8 {

            .postcard_wrap_text {
                color: #496480;
            }
        }
    }

    .button_wrap {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 510px;
        text-align: center;

        .download_button {
            margin-bottom: 30px;
            display: block;
            width: 100%;
            color: #21513a;
            font-weight: 900;
            text-transform: uppercase;

            &_img {
                margin-left: 10px;
                height: 20px;
                transform: translateY(5px);
            }
        }

        .again_button,
        .back_button {
            display: inline-block;
            padding: 10px 20px;
            box-sizing: border-box;
        }

        .again_button {
            width: 55%;
        }

        .back_button {
            width: 40%;
        }
    }

    &_social {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px 0;
        width: 100%;
        height: 60px;
        background-color: #ffbc0d;
    }
}

.share_caption {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.share {
    margin: 10px 0;
    display: flex;
    justify-content: center;

    div {
        margin-left: 10px;
    }
}

.step_compliments,
.step_images,
.compliments {
    display: none;
}

.step_images {

    .step_images_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .image_wrap {
            margin-top: 20px;
            width: 30%;

            .postcards_button {
                width: 100%;

                .postcards_image {
                    width: 100%;
                }
            }

            .choose_image {
                margin-top: 5px;
                padding: 12px 10px;
                width: 100%;
                color: #fff;
                border-radius: 7px;
            }
        }
    }
}

.footer {
    display: none;
}

.locker {
    display: none;
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 188, 13);
    transition: .3s;

    &_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
    }
}

@import "media";
